<script>
    function validateForm() {
        var x = document.forms["rootform"]["title"].value;
        if (x === "") {
            alert("Label must be filled out");
            return false;
        }
        x = document.getElementById("private").val();
        if (!x || x === "") {
            alert("Node Privacy must be seleted");
            return false;
        }
    };
    function doRadio(val) {
        //alert(val);
        var e = document.getElementById("private");
        e.value = val;
    };

</script>
<div id="topbox">
    <h2 style="margin-left: 20px">New Channel</h2>
    <form name="rootform" method="post" action="/channels/new" onsubmit="return validateForm()">
        <input type="hidden" name="hidden_1" value="{{hidden_1}}">
        <input type="hidden" name="hidden_2" value="{{hidden_2}}">
        <input type="hidden" id="private" name="private" value="{{private}}">:

        <p style="margin-left: 40px">
            <span style="color: red;"><b>Select Private or Public</b></span><br/>
            <input type="radio"   name="xprivate" value="Public"  onclick="doRadio('false')" /> <b>Public</b>
            <input type="radio"  name="xprivate" value="Private" onclick="doRadio('true')" /> <b>Private</b>
        </p>

        <p style="margin-left: 20px">
            <b>Label</b><br/>
            <input type="text" size="100" name="title" placeholder="New Channel Name" value="{{formlabel}}">
        </p>
        <p style="margin-left: 20px">
            <b>Member Handles, comma separated--only if is Private</b><br/>
            <input type="text" size="100" name="members" placeholder="Comma-separated handles" value="{{formlabel}}">
        </p>

        <p style="margin-left: 20px">
            <button type="submit" class="btn btn-success">Save</button>
            &nbsp;<a href="/" title="cancel" class="btn">Cancel</a>
        </p>
    </form>
</div>