<div id="topbox">
    <span style="float:right; font-size:small;">{{result.handle}} {{result.createdDate}}</span>    
    <div style="margin-left: 20px">
        <h2><img style="margin-right:4px;" src="/images/tag.png">{{result.statement}}</h2>
        <h4>Documents</h4>
        {{#each result.theTags}}
            <a href="/grab/{{id}}"><img style="margin-right:4px;" src="{{img}}">{{statement}}</a><br/>
        {{/each}}
     </div>
</div>