<div id="topbox">
    <span style="float:right; font-size:small;">{{result.creatorId}} {{result.createdDate}}</span>    
    <h2><img style="margin-right: 4px;" src="{{img}}">{{result.statement}}</h2>
    <p>
        {{{result.details}}}
    </p>
</div>
<div style="margin: auto; width: 50%;">
    <h2>
        <img style="margin-right: 4px;" src="{{rootimg}}">
        <a href="/conversation/{{rootnode.id}}">{{rootnode.statement}}</a>
    </h2>
</div>