<!-- active node -->
<div id="topbox">
    <span style="float:right; font-size:small;">{{result.creatorId}} {{result.createdDate}}</span>
    <div style="margin-left: 4px;">
        <h2><img style="margin-right:4px;" src="{{result.img}}">{{result.statement}}</h2>
        {{#if result.url}}
            <p>
                <b>URL </b><a href="{{result.url}}">{{result.url}}</a>
            </p>
        {{/if}}
        <div style="overflow-y: auto; height:300px;">
            {{{result.details}}}
        </div>
    </div>
</div>
{{#if isRelation}}
    <span style="margen-left:20px;">
    <b>Source Node</b>  <a href="/fetch/{{result.sourceNode.id}}/{{result.sourceNode.type}}"><img style="margin-right:4px;" src="{{result.sourceNode.img}}">{{result.sourceNode.statement}}</a>
    <br/>
    <b>Target Node</b>  <a href="/fetch/{{result.targetNode.id}}/{{result.targetNode.type}}"><img style="margin-right:4px;" src="{{result.targetNode.img}}">{{result.targetNode.statement}}</a>    
    </span>
    <br/>
{{/if}}
{{#if isAuthenticated}}
    <span style="margen-left:20px;"><b>Remember this node</b>  <a title="Remember" href="/connections/remember/{{result.id}}"><img  src="/images/remember.png"></a>
    {{#if isRemembered}}
        <b>Connect this node as Source</b><a title="Connect As Source" href="/connections/newassource/{{result.id}}/{{result.type}}"><img  src="/images/connectsrc.png"></a>
        <b>Connect this node as Target</b><a title="Connect As Target" href="/connections/newastarget/{{result.id}}/{{result.type}}"><img  src="/images/connect.png"></a>
    {{/if}}
    </span>
{{/if}}
<!-- left-right scrollable container -->
<div class="columnscroller">
    <!-- column headers -->
    <div class="columncontainer">
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/issue.png">Question
                {{#if isAuthenticated}}
                    <a title="Respond" href="/conversation/newquestion/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
                {{/if}}
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/position.png">Answer
                {{#if isAuthenticated}}
                    <a href="/conversation/newanswer/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
                {{/if}}
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/plus.png">Pro
                {{#if isAuthenticated}}
                    <a href="/conversation/newpro/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
                {{/if}}
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/minus.png">Con
                {{#if isAuthenticated}}
                    <a href="/conversation/newcon/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
                {{/if}}
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/note.png">Notes
                {{#if isAuthenticated}}
                    <a href="/conversation/newnote/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
                {{/if}}
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/reference.png">References
                {{#if isAuthenticated}}
                    <a href="/conversation/newreference/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
                {{/if}}
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/cogwheels.png">Connections
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/tag.png">Tags
                {{#if isAuthenticated}}
                    <a href="/tags/newtag/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
                {{/if}}
            </div>
    </div>
    <!-- column data -->
    <div class="datacontainer">
        <div class="datacolumn">
            {{#each result.questions}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn" >
            {{#each result.answers}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.proargs}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}

        </div>
        <div class="datacolumn">
            {{#each result.conargs}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.notes}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.references}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.relations}}
                <div class="node">
                    <a style="margin-left:4px;" href="/connections/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.tags}}
                <div class="node">
                    <a style="margin-left:4px;" href="/tags/gettag/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>

    </div>
</div>
